process {

/* Executor parameters */
maxForks = 8
}

params {
plink="plink2"
ld="0.85"
window="2000"
maf="0.05"
n_sites="2000"
threads_plink="4"
populations="/media/judith/Almacenamiento/Documents/Ongoin_projects/TREEMIX/treemix-nf/test/reference/samples.txt"
plink2treemix="./plink2treemix.py"
k_value="1000"
root_pop="CHB"
bootstrap_value="100"
pop_order="/media/judith/Almacenamiento/Documents/Ongoin_projects/TREEMIX/treemix-nf/test/reference/pop_order"
}
