process {

/* Executor parameters */
maxForks = 4
}

params {
plink1="plink"
plink2="plink2"
ld="0.85"
window="2000"
maf="0.05"
n_sites="2000"
threads_plink="4"
// sample_list="/home/iao/PhD/100G-MX-descriptive_analysis/analysis-of-results/76g_resubmission_Feb2020/treemix/nf-vcf2treemix/test/reference_76g/sample_list.tsv"
sample_list="/home/iao/PhD/100G-MX-descriptive_analysis/analysis-of-results/76g_resubmission_Feb2020/treemix/nf-vcf2treemix/real-data/76g_plus_PEL_per_group/reference/sample_list.tsv"
k_value="1000"
// root_pop="YRI"
root_pop="CHB"
bootstrap_value="100"
migration_event="0"
//pop_order="/home/iao/PhD/100G-MX-descriptive_analysis/analysis-of-results/76g_resubmission_Feb2020/treemix/nf-vcf2treemix/test/reference_76g/pop_order"
pop_order="/home/iao/PhD/100G-MX-descriptive_analysis/analysis-of-results/76g_resubmission_Feb2020/treemix/nf-vcf2treemix/real-data/76g_plus_PEL_per_group/reference/pop_order"
}

// sample_list="/home/iao/PhD/100G-MX-descriptive_analysis/analysis-of-results/76g_resubmission_Feb2020/treemix/nf-vcf2treemix/test/reference_76g/sample_list.tsv"
// pop_order="/home/iao/PhD/100G-MX-descriptive_analysis/analysis-of-results/76g_resubmission_Feb2020/treemix/nf-vcf2treemix/test/reference_76g/pop_order"
