process {

/* Executor parameters */
maxForks = 8
}

params {
plink1="plink"  /* path to plink executable, because plink2 can not do all functions as plink1.9 */
plink2="plink2" /* path to plink2 executable, to use threads option */
ld="0.85" /* value to remove sites with r2 bigger than it within a window */
window="2000" /* the window size in bp for ld prunning */
maf="0.05" /* plink2 filters out all variants with allele frequency below this threshold */
n_sites="1" /* sites to keep at most in the window, removing sites with small AF first */
threads_plink="4" /* threads for plink2 */
k_value="1000" /* number of SNPs per block for estimation of covariance matrix */
// root_pop="YRI"
root_pop="CHB" /* root pop for TreeMix */
bootstrap_value="100" /* number of bootstrap replicates for TreeMix */
migration_event="0" /* number of migration events for TreeMix */
seed_treemix="666" /* set random seed value for TreeMix */
}
